<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:excludeFromRecents="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScreenFilter">

        <service
            android:name=".AppAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/app_accessibility" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DebugActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.BrightnessPointActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.PreparatoryActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <service
            android:name=".quicksetting.QuickSettingFilter"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/filter"
            android:label="屏幕滤镜"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksetting.QuickSettingIntelligentBrightness"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/intelligent_brightness"
            android:label="智能亮度"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksetting.QuickSettingScreenShot"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/screenshot"
            android:label="正常截屏"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>